[defaults]
# plays will gather facts by default, which contain information about
# the remote system.
#
# smart - gather by default, but don't regather if already gathered
# implicit - gather by default, turn off with gather_facts: False
# explicit - do not gather by default, must say gather_facts: True
# gathering = smart

# This only affects the gathering done by a play's gather_facts directive,
# by default gathering retrieves all facts subsets
# all - gather all subsets
# network - gather min and network facts
# hardware - gather hardware facts (longest facts to retrieve)
# virtual - gather min and virtual facts
# facter - import facts from facter
# ohai - import facts from ohai
# You can combine them using comma (ex: network,virtual)
# You can negate them using ! (ex: !hardware,!facter,!ohai)
# A minimal set of facts is always gathered.
gather_subset = network


# some hardware related facts are collected
# with a maximum timeout of 10 seconds. This
# option lets you increase or decrease that
# timeout to something more suitable for the
# environment.
gather_timeout = 10

# Set this to “False” if you want to avoid host key checking by the underlying tools Ansible uses to connect to the host
host_key_checking = False

inventory = ./hosts.ini
nocows = True


# Set the main callback used to display Ansible output.
# You can only have one at a time.
# You can have many other callbacks, but just one can be in charge of stdoutstdout_callback = yaml
stdout_callback = yaml

private_key_file = ~/.ssh/ansible.id_ed25519

force_color = True
deprecation_warnings = False
action_warnings = False
verbosity = 1

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=30m -o ServerAliveInterval=5 -o PreferredAuthentications=publickey -o HostKeyAlgorithms=+ssh-rsa,ssh-dss -o PubkeyAcceptedKeyTypes=+ssh-rsa,ssh-dss
pipelining = True
